@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: sans-serif;
}

/* Added custom tailwind utility class for filter buttons
* in the search route page
*/

@layer components {
    .filter-button {
        @apply  
            px-4 py-2 bg-slate-50 border 
            rounded-full shadow-md hover:bg-slate-100
            hover:shadow-xl cursor-pointer select-none 
            active:scale-95 active:shadow-none transition 
            transform duration-200 ease-out;
    }
}
